input {
    border: none;
    font-family: inherit;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
}

video {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

.home {
    margin-top: 30px;
    height: 100vh;
    display: grid;
    grid-template-columns: 120px;
    grid-template-rows: 180px;
    gap: 0vw;
    padding: 5vh 20vw;
}

.home .box {
    max-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    border-radius: 8px;
    padding: 0px 20px;
}

.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 30px;
    color: var(--color-primary);
    background-color: white;
}

.modal h3 {
    margin: 0;
    font-weight: normal;
}

.modal .container {
    display: flex;
    margin-top: 40px;
}

.modal button.secondary {
    margin-left: auto;
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    margin-right: 20px;
}

.videos .local {
    position: absolute;
    top: 130px;
    right: 40px;
    width: 672px;
    height: 504px;
    border-radius: 8px;
    z-index: 10;
}

.videos .remote {
    position: absolute;
    width: 672px;
    height: 504px;
    border-radius: 8px;
    top: 130px;
    left: 80px;
    bottom: 0;
    right: 0;
}

.videos .buttonsContainer {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    display: flex;
    z-index: 1;
}

.videos .buttonsContainer .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    padding: 20px;
    border-radius: 50%;
    font-size: 0;
    transition-property: border-color, box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

.videos .buttonsContainer .button:hover {
    box-shadow: 0px 5px 10px #0000001a;
    border-color: transparent;
}

.videos .buttonsContainer .hangup {
    height: 1px;
    width: 1px;
    margin-right: 50px;
    background-color: #ffffff;
    color: #ffffff;
}

.videos .buttonsContainer .more {
    height: 1px;
    width: 1px;
    background-color: white;
    border-color: #dddddd;
    cursor: pointer;
}

.videos .buttonsContainer .more .popover {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 100%;
    padding: 20px 0px;
    font-size: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #0000001a;
}

.videos .buttonsContainer .more:focus-within .popover {
    visibility: visible;
}

.videos .buttonsContainer .more .popover button {
    padding: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    background-color: white;
    color: black;
}

.videos .buttonsContainer .more .popover button svg {
    margin-right: 20px;
}

h3 {
    color: rgba(22, 56, 142, 0.6);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box button {

    width: 150px;
    height: auto;
}

.codeinput {
    width: 150px;
    height: 80px;
    margin: 20px 0px;
    font-size: 1rem;
}
input {
    font-size: 0.6rem;
}

.create .box {
    top: 30px;
}

.menubutton {
    margin: 50px 0px;
}
